<article class="br2 ba dark-gray b--black-10 mv4 mw5 center">
    <img src="{{.image}}" class="db w-100 br2 br--top relative-ns">
        <img src="img/icon.svg" class="fl-ns top p-icon-ns absolute-ns p-top-327" />
    </img>

    <div class="pa2 ph3-ns pb3-ns">
        <div class="dt w-100 mt1">
            <div class="dtc">
                <h1 class="f5 f4-ns min mv0">{{.title}}</h1>
            </div>
        </div>
        <p class="f6 lh-copy measure mt2 mid-gray">
            {{.description}}
        </p>
    </div>
</article>