<nav class="overflow-x-visible-ns flex justify-between items-center center p-bg-primary relative">

	<!-- Logo -->
	<!-- <a href="/" class="pa3 db mr4 h-100 w3 flex-none">
		<img src="/img/logo.svg" alt="Kaldi logo" class="br0 db mb0 w-100"/>
	</a> -->

	<!-- Primary Nav -->
	<ul class="flex b white">
		<li><a href="/systems" class="pa3 no-underline db">Systems</a></li>

		<li><a href="/software" class="pa3 no-underline db">Software</a></li>

		<li><a href="/about" class="pa3 no-underline db">About</a></li>

		<li><a href="/more" class="pa3 no-underline db">More</a></li>
	</ul>

</nav>
