/* Variables */

:root {
    --p-primary: rgba(224, 122, 95, 1);
    --p-white: rgba(244, 241, 222, 1);
    --p-success: rgba(88, 129, 87, 1);
    --p-info: rgba(128, 164, 237, 1);
    --p-danger: rgba(90, 0, 2, 1);
}

/* Backgrounds */

.p-bg-primary {
    background-color: var(--p-primary);
}

/* Font */

.p-primary {
    color: var(--p-primary);
}

.p-white {
    color: var(--p-white);
}

.p-font {
    font-family: 'Open Sans', sans-serif;
}

/* Positioning */

.p-mr-auto {
    margin-right: auto;
}

.p-ml-auto {
    margin-left: auto;
}

/* Sizing */

@media (--breakpoint-not-small) {
    .p-icon-ns {
        max-width: 2rem;
    }
}

/* Specific */

 /* Card */
.p-top-327 {
    margin-left: 13px;
    top: 327px;
}