{{ define "main" }}

<!-- {{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }} -->

<!-- {{ partial "short-text" .Params.blurb}} -->

<!-- {{ partial "filter" . }} -->

<div class="bg-center">
    <div class="mw9 center ph3-ns">
        <div class="cf ph2-ns">
            {{ range where .Site.Pages "Section" "projects" }}
                {{ if (ne .Title "Projects") }}
                    <div class="fl w-100 w-25-ns pa2">
                        <div class="pv4">
                            {{ 
                                partial "card" (dict 
                                    "title" .Params.title
                                    "description" .Params.body
                                    "image" .Params.image
                                ) 
                            }}
                        </div>
                    </div>
                {{ end }}
            {{ end }}
        </div>
    </div>
</div>

<!-- {{ partial "2-up" .Params }} -->

<!-- {{ partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "buttonText" "Read more" "buttonLink" "/values") }} -->

<!-- {{ partial "blog" . }} -->

{{ end }}